- form.inputs do
  = form.input :screen_name, :label => 'Screen name'
  = form.input :bio, :label => 'Bio'
  = form.input :age, :label => 'Age'
  = form.input :website_url, :label => 'Website url'
  = form.input :interests, :label => 'Interests'
  = form.input :hobbies, :label => 'Hobbies'
