!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    - title = yield(:title) || configatron.site_description
    %title= configatron.site_name + " : " + title
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta name="google-site-verification" content=" YOUR TAG HERE " />
    <meta name="description" content=" YOUR META TAGS" />

    = stylesheet_link_tag 'compiled/fuselage.css', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = yield(:head)
    
  %body.two-column.fuselage
    = render :partial => 'shared/header'
    = render :partial => 'shared/flashes'
    = render :partial => 'shared/featured'
  
    -# using Matt Fields nested layouts method http://rubynerds.blogspot.com/2008/06/nested-layouts-in-rails.html
    - if has_layout_partial(controller.controller_name)
      = render :partial => "layouts/#{controller.controller_name}"
    - else
      = yield
      
    = render :partial => 'shared/social'
    = render :partial => 'shared/footer'

    = javascript_include_tag 'jquery-1.4.2.min', 'application', :cache => true
