!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  = render :partial => 'layouts/head'

  %body.two-column
    -# using Matt Fields nested layouts method http://rubynerds.blogspot.com/2008/06/nested-layouts-in-rails.html
    - if has_layout_partial(controller.controller_name)
      = render :partial => "layouts/#{controller.controller_name}"
    - else
      = yield

    = javascript_include_tag 'jquery-1.4.2.min', 'application', :cache => true
