#container
  = render :partial => 'layouts/header'
  #content
    %h2 Content
    = render :partial => 'layouts/flashes'
    = yield :layout

  = render :partial => 'layouts/sidebar'
  = render :partial => 'layouts/footer'

-# always on the last line
= parent_layout 'application'